@media screen and (max-width:992px){

/*¿Qué esperar?*/ 

#quienes article{
    padding-left: 20px;
    width: 57%;
}
#quienes #img{
    width: 40%;
}
#quienes img{
    width: 95%;
}


    /*Cursos*/
    .curso{
        width: 47%;
        margin-bottom:3%;
    }
    .separar-nulo{
        margin-left: 0px;
    }
}
