@media screen and (max-width: 768px){
 

    /*¿Qué esperar?*/ 
    #quienes #img, #quienes article{
        width: 100%;
        display: block;

    }
    #quienes img{
        min-width: auto;
        height: auto;
        scroll-padding-top: 20px;
    }
    #quienes article{
        padding-top:20px;
        text-align: left;
    }
    #quienes a{
        margin: 0 auto;
    }



/*Cursos*/

    .curso{
        width: 100%;
    }
        .separar-izq{
            margin-left: 0;
        }
        .separar-der{
            margin-right: 0;
        }

 /*Premium*/
    #suscrip {
        width:90%;
        display:block;
    }
    #ventajas{
        width:100%;
        display:block;
    }
 
/*footer*/
footer{
    text-align: center;
    height: 400px;
}
#foo1{
    width: 100%;
    text-align: center;
}
#foo2{
    width: 100%;
    text-align: center;
}
#foo3{
    margin: 30px 0;
    width: 100%;
    display: block;
}
#foo4{
    width: 100%;
    display: block;

}

}
